{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Products in {{ category.name }}</h2>

    {% if role == "Admin" or role == "Manager" %}
      <a href="{% url 'inventory:product_add' %}?next=category_products&category_id={{ category.id }}" class="btn btn-primary">
        + Add Product
      </a>
    {% endif %}
  </div>

  {% if products %}
    <div class="list-group">
      {% for i in products %}
      <a href="{% url 'inventory:product_detail' i.id %}?next=category_products&category_id={{ category.id }}"
         class="list-group-item list-group-item-action mb-2 p-3 rounded-3 shadow-sm d-flex align-items-center justify-content-between product-card text-decoration-none text-dark">

        <div>
          <h3 class="mb-2 fw-semibold">{{ i.name }}</h3>

          {% if i.stock > 0 %}
            <h5 class="mb-0 text-muted small">
              <i class="fa-solid fa-tag me-1"></i> ₹{{ i.selling_price }}
              &nbsp;&nbsp;
              <i class="fa-solid fa-boxes-stacked me-1"></i> {{ i.stock }}
            </h5>
          <p class="text-muted small mb-0">
            <i class="fa-solid fa-barcode me-1"></i> SKU: {{ i.sku }}
              </p>
          {% else %}
            <p class="out-of-stock mb-0">
              <i class="fa-solid fa-triangle-exclamation me-1"></i> OUT OF STOCK
            </p>
          {% endif %}
        </div>

        {% if i.image %}
          <img src="{{ i.image.url }}" alt="{{ i.name }}" class="product-thumb">
        {% else %}
          <img src="{% static 'images/box.jpg' %}" alt="No image" class="product-thumb" style="width:80px; height:80px; object-fit:cover; border-radius:8px;">
        {% endif %}
      </a>
      {% endfor %}
    </div>

  {% else %}
    <p>No products found in this category.</p>
  {% endif %}

</div>
{% endblock %}
